@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

.header {
	width: 80vw;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-family: "Poppins", sans-serif;
	font-weight: 500px;
}

.logo {
	color: rgb(158, 7, 7);
	cursor: pointer;
	font-size: 26px;
}

.nav_link {
	cursor: pointer;
	background-color: rgb(35, 16, 146);
	border-radius: 30px;
	border: none;
	font-size: 16px;
	color: white;
	padding: 5px 30px;
}

.nav_list {
	display: flex;
	gap: 10px;
}

@media only screen and (max-width: 768px) {
	.header {
		width: 87vw;
		margin-left: auto;
		margin-right: auto;
	}

	.logo {
		font-size: 20px;
	}

	.nav_link {
		font-size: 14px;
	}
}
